@mixin stroke($color: #000, $size: 1px) {
    text-shadow:
      -#{$size} -#{$size} 0 $color,
       0        -#{$size} 0 $color,
       #{$size} -#{$size} 0 $color,
       #{$size}  0        0 $color,
       #{$size}  #{$size} 0 $color,
       0         #{$size} 0 $color,
      -#{$size}  #{$size} 0 $color,
      -#{$size}  0        0 $color;
  }

@mixin media(){
  @media screen and (max-width: 1405px) {
    .container{
      padding: 0 18px;
    }
    
  }
  @media screen and (max-width: 640px) {
    .topbar{
      height: 151px;
      flex-direction: column;
      .logo{
        height: 80px;
      }
      .connection{
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .connect{
          margin-left: 20px;
        }
        .btn{
          margin: 0 20px 10px 0;
        }
      }

    }
    
  }
  @media screen and (max-width: 360px) {
    .topbar{
      .connect{
        font-size: 10px;
      }
      .btn{
        font-size: 10px;
      }
    }
    .nav-items{
      font-size: 15px;
      line-height: 15px;
      margin: 0 4px;

    }
    .topics-name{
      font-size: 9px;
      line-height: 16px;
    }
    .topics-create-info{
      p{
        font-size: 7px;
        line-height: 12px;
      }
    }
    .topics{
      padding-bottom: 20px;
    }
}
}

@mixin icon-loader($background, $width, $height){
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  background: url($background) center center / contain no-repeat;

}