@font-face {
    font-family: 'Inter';
    src: url("../font/Inter-VariableFont_slnt,wght.ttf");
}

$content-color: #D9D9D9 !default;
$header-color: #6C6C6C !default;
$green-color: #53D778 !default;
$green-color-hover: #319C4F !default;
$yellow: #FFD28D !default;
$yellow-hover: #97651A !default;
$font: 'Inter';
$color-theme: #101725;