<div class="actus">
        
            <div class="actu-items">
                <h2 class="actu-name">{{count}}</h2> 
                <h2 class="actu-name">Actualité{% if count > 1 %}s{% endif %}</h2> 
                <a href="{{path('admin.news.index')}}" class="btn">Gérer les Actualités</a>
            </div>
       

</div>  