{% extends '@admin/layout.twig' %}

{% block title "Ajout d'un Topic" %}

{% block body %}
<main class="container">
    <a class="container-link" href="/">Accueil ></a>
    <a class="container-link" href="/forum">Forum ></a>
     <a class="container-link" href="{{ path(routePrefix ~ '.index')}}">Administration ></a>
     <a class="container-link" href="{{ path(routePrefix ~ '.create')}}">Nouveau Topic</a>
    <div class="cards forum"> 
        <header class="cards-head">
            Ajout d'un Topic
        </header>
        <form class="topic-edit" action="{{ path(routePrefix ~ '.create') }}" method="post">
            {% include viewPath ~ "/form.twig" %}
            <button  type="submit" class="btn"> Ajouter</button>
        </form>
        

</main>
{% endblock %}