<div class="cards last-actu"> 
        <header class="cards-head">
            Dernières Actualités
        </header>
         
        <div class="actus">
            <div class="prev"><a href='#'class="prev-button"></a></div>
            {% for new in news %}
            <div class="actu-items">
                <img src="{{new.thumb}}" alt="" />
                <a href="{{path('news.show', {slug: new.slug, id: new.id})}}" class="actu-name active">{{new.name}}</a>
                <p>Par Cavernos</p>
                <p>{{new.createdAt | ago}}</p>
            </div>
             {% endfor %}
            <div class="next"><a href='#'class="next-button"></a></div>
        </div>  
    </div>     