.btn{
    display: inline-block;
    text-align: center;
    width: auto;
    border: 0;
    line-height: 35px;
    background: $green-color;
    border-radius: 10px;
    font-size: 18px;
    padding: 0  0.44em;
    cursor: pointer;
}
.btn{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.btn-danger{
    background-color: rgb(218, 42, 42);
}