.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
    animation: fadeIn .3s both;
}

.modal-wrapper.pane {
    overflow: auto;
    width: 650px;
    height: 715px;
    background-color: #6C6C6C;
    border-radius: 10px;
    max-width: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    animation: slideFromTop .3s both;
    hr {
        color: rgba($color: white, $alpha: 75%);
    }
}

.modal-title {
    margin: 0 26px;
    padding-top: 5px;
    font-weight: bolder;
    font-size: 24px;
    line-height: 34px;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
    .modal-wrapper.pane {
        animation-name: slideToBottom;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to { opacity: 1; }
}

@keyframes fadeOut {
    from {opacity: 1;}
    to { opacity: 0; }
}

@keyframes slideFromTop {
    from{ transform: translateY(-50px);}
    to { transform: translateY(0px); }
}

@keyframes slideToBottom {
    from{ transform: translateY(0px);}
    to { transform: translateY(50px); }
}

/** .register{
    .pane{
        clear:both;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        background-color: #6C6C6C;
        width: 650px;
        height: 715px;
        border-radius: 10px;
    }
    hr{
        color: rgba($color: white, $alpha: 75%);
    }
    form{
        position: relative;
        height: 660px;
    }
    h2{
        margin: 0 26px;
        padding-top: 5px;
        font-weight: bolder;
        font-size: 24px;
        line-height: 34px;
    }
    position: relative;
    z-index: 300;
    margin-bottom: -715px;
    .fields{
        input{
            height: 42px;
            font-size: 22px;
            color:  rgba($color: white, $alpha: 75%);
        }
        label{
            margin-left: 22px;
            position: absolute;
            font-size: 24px;
            color: rgba($color: white, $alpha: 75%);
            line-height: 42px;
        }
    }
    .check{
        margin-left: 60px;
        input{
            width: 22px;
            height: 22px;
            margin: 0;
        }
        label{
            display: inline-block;
            margin-left: 10px;
            font-size: 24px;
            color: rgba($color: white, $alpha: 75%);
        }
    }
    .btn{
        position: absolute;
        width: 410px;
        height: 50px;
        bottom: 26px;
        left: 120px;
        border: 0;
        cursor: pointer;
    }
    
    
   
} */