<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/bascode.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="topbar">
        <div class="logo">
            <a href="/"><img src="/img/bascode.png" alt=""/></a>
        </div>
        <div class="connection">
            <a class="connect">Utilisateur existant ? Se connecter</a>
            <a class="btn">S'inscrire</a>
        </div>          
</header>
<nav class="topbar-nav">
<div class="nav-content">
    <a href="/forum" class="nav-items">Forum</a>
    <a href="/actu" class="nav-items">Actualités</a>
    <a href="/tuto" class="nav-items">Tutoriels</a>
    <a href="/minecraft" class="nav-items" >Minecraft</a>
    <a href="/admin/posts" class="nav-items" >Administration</a>
</div>
<div class="research"></div>
</nav>
    {% block body %}{% endblock %}
</body>
<footer class="footer">
        <div class="copyright">
            Copyright 2022
        </div>
        <div class="socials">
            <a href="https://github.com/BascodeFR" target="_blank" class="github"></a>
            <a href="#" class ="discord"></a>
        </div>
</footer>
</html>