<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/bascode.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="topbar">
        <div class="logo">
            <a href="/"><img src="/img/bascode.png" alt=""/></a>
        </div>
        <div class="connection">
            <a class="connect">Utilisateur existant ? Se connecter</a>
            <a class="btn">S'inscrire</a>
        </div>          
</header>
<nav class="topbar-nav">
{{admin_menu()}}
<div class="research"></div>
</nav>
    {% if flash('success') %}
        <div class="alert alert-success">{{flash('success')}}</div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger">{{flash('error')}}</div>
    {% endif %}
    {% block body %}{% endblock %}
</body>
<footer class="footer">
        <div class="copyright">
            Copyright 2022
        </div>
        <div class="socials">
            <a href="https://github.com/BascodeFR" target="_blank" class="github"></a>
            <a href="#" class ="discord"></a>
        </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/l10n/fr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.2/timeago.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.2/timeago.locales.min.js"></script>
<script>



flatpickr('.datepicker', {
  enableTime: true,
  altInput: true,
  altFormat: 'j F Y, H:i',
  dateFormat: 'Y-m-d H:i:s',
  locale: 'fr'
})

timeago().render(document.querySelectorAll('.timeago'), 'fr_FR')

</script>



</html>