<div class="actu-items">
    <h2 class="actu-name">{{count}}</h2>
    <h2 class="actu-name">Thread{% if count > 1 %}s{% endif %}</h2>
    <a href="{{path('admin.forum.index')}}" class="btn">Gérer les Threads</a>
</div>