
    <div class="fields admin">
        <input type="text" name="name" id="name" value="{{ item.name }}"required/>
        <label for="name">Nom du Topic</label>
    </div>
            <div class="fields admin">
                        <input type="text" name="slug" id="slug" value="{{ item.slug }}" required/>
                        <label for="slug">Slug du Topic</label>
            </div>
            <div class="fields admin">
                        <input type="text" name="created_by" id="created_by" value="{{ item.created_by }}" required/>
                        <label for="created_by">Autheur du Topic</label>
            </div>