<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bascode</title>
    <link rel="shortcut icon" href="/Maquette/logo/bascode.png" type="image/x-icon">
    
    
  <script type="module" crossorigin src="/index.ed70c55e.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div id="root"></div>
</body>
</html>