.news.content {
    padding: 10px 20px;
    font-weight: bold;
}

.cards.last-actu.index{
    padding-bottom: 10px;
}
p{
    code {
        color: white;
    padding: 0.2em 0.4em;
        margin: 10px;
        font-size: 85%;
        background-color: #9ea7b266;
        border-radius: 6px;
    }
}