.admin-message {
    margin-right: 10px;
    margin-top: 20px;
    display: inline-flex;
    gap: 10px;
}

.topic-edit {
    .btn {
        margin: 10px auto;
        display: block;
    }
}

.fields.admin {
    margin: auto;
    width: 500px;
    label{
        color:  black;
        line-height: 35px;
        font-size: 15px;
        font-weight: bold;
    }
    input{
        font-size: 20px;
        border-bottom: 1px solid $header-color;
    }
    

    textarea{
        padding-top: 2rem;
        &:focus, &:not(:placeholder-shown){
            border-bottom: 1px solid $header-color;
            outline: 0;
        }
        padding: .25rem 0;
        margin: 0 12px 0 2px;
        resize: none;
        background-color: transparent;
        border: solid 1px $header-color;
        color: $header-color;
        font-size: 19px;
        line-height: 24px;
        height: 55px;
    }
    
}

.text-center {
    text-align: center;
}

.alert {
    max-width: 1400px;
    height: 60px;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    padding: 15px;
    line-height: 30px;
    &.alert-success {
        background-color: rgba(81, 214, 119, 60%);
        color: $green-color-hover;
    }   
    &.alert-danger {
        background-color: rgba(214, 81, 81, 0.6);
        color: #9c3131;
    }
}

.fields.admin.has-danger {
    position: relative;
    color: #9c3131;
    input{
        border-bottom: solid 1px #9c3131;
    }
    small {
        font-size: 10px;
        margin: 0 12px 0 2px;
        
    }
    &::after {
        position: absolute;
        bottom: 15px;
        right: 15px;
        @include icon-loader('../svg/cross.svg', 10px, 10px);
    }
}