.admin-message {
    margin-right: 10px;
    margin-top: 20px;
    display: inline-flex;
    gap: 10px;
}

.topic-edit {
    .btn {
        margin: 10px auto;
        display: block;
    }
}

.fields.admin {
    margin: auto;
    width: 500px;
    label{
        color:  black;
        line-height: 35px;
        font-size: 15px;
        font-weight: bold;
    }
    input{
        font-size: 20px;
    }
    border-bottom: 1px solid $header-color;
    
}

.text-center {
    text-align: center;
}

.alert {
    max-width: 1400px;
    height: 60px;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    padding: 15px;
    line-height: 30px;
    &.alert-success {
        background-color: rgba(81, 214, 119, 60%);
        color: $green-color-hover;
    }   
    &.alert-danger {
        background-color: rgba(214, 81, 81, 0.6);
        color: #9c3131;
    }
}