.resp{
    background-color: #6c6c6c;
    width: 1370px;
    height: 120px;
    margin: 0 auto;
    border-radius: 10px;
    .resp-content{
        display: flex;
        align-items: center;
        margin-top: 15px;
        position: relative;
        img{
            display: inline-block;
            border-radius: 50%;
            margin-left: 25px;
        }

        label{
            position: absolute;
            color: rgba($color: white, $alpha: 0.75);
            margin-left: 117px;
            font-size: 19px;
            transition: opacity .26s;

            &::before{
                @include icon-loader('../svg/msg_comment.svg', 24px, 24px);
                vertical-align: middle;
                margin-top: -1px;
                margin-right: 5px;
            }
        }
    
            textarea{
                &:focus{
                    outline: 0;
                    &+label{
                        opacity: 0;
                    }
                }
                resize: none;
                position: relative;
                z-index: 2;
                display: inline;
                width: 772px;
                background-color: transparent;
                border: solid 2px rgba($color: white, $alpha: 0.75);
                color: rgba($color: white, $alpha: 0.75);
                font-size: 19px;
                line-height: 24px;
                height: 55px;
                margin-left: 30px;
            }
        .btn{
            border: 0;
            height: 55px;
            padding: 12px 15px;
            margin-left: 12px;
            cursor: pointer;
            display: inline-block;
        }

    }
    h2{
        margin: 0;
        margin-left: 25px;
        padding-top: 6px;
        line-height: 25px;
        font-size: 19px;
        font-weight: bold;
        color: white;
    }
}