@use "sass:color";
@import 'vars.scss';
@import 'mixins.scss';
@import 'btn.scss';
@import 'forms.scss';
@import 'messages.scss';
@import 'resp.scss';
@import 'login.scss';
@import 'register.scss';
@import 'pages.scss';
@import 'admin.scss';

*, *::after, *::before{
    box-sizing: border-box;
}
body{
    background: #FBFDFF;
    font-family: $font;
    color: white;
    font-size: 14px;
    margin: 0;

}
.topbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-color;
}
.logo{
    img{
        width: 200px;
    }
    margin-left: 17px;
}
.connection{
    padding: 33px 17px;
    .connect{
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    .connect::after{
        @include icon-loader("../svg/arrow.svg", 23px, 23px);
        vertical-align: middle;
        margin-top: -1px;
    }
    .btn{
        margin-left: 13px;
    }
    a{
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
}

.account{
    display: flex;
    align-items: center;
    padding: 0 50px;
    .username{
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        &::after {
       @include icon-loader("../svg/arrow.svg", 24px, 24px);
        vertical-align: middle;
        margin-top: -1px;
        margin-left: -5px;
        }
    }
    img{
        border-radius: 50%;
        margin: 0 10px;
    }
    .msg{
        @include icon-loader('../svg/msg.svg',20px, 20px);
    }
}

.topbar-nav{
    width: 100%;
    height: 45px;
    background-color: $green-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
}
.research{
    vertical-align: middle;
    margin-top: -1px;
    @include icon-loader('../svg/search.svg', 24px, 24px)
}
.nav-items{
    margin: 0 10px;
    font-weight: bold;
    font-size: 15px;
    color:white;
    text-decoration: none;
    transition: text-shadow .3s;
}
.nav-items.active, .nav-items:hover{
    @include stroke($green-color-hover, 2px);
}
.container{
    color: black;
    font-size: 10px;
    max-width: 1400px;
    margin: 6px auto;
    .container-link{
        text-decoration: none;
        color: black;
        transition: color .3s;
        &:hover{
                color: lighten($color: #000000, $amount: 20%);
        }
    }
    .last-topics{
        height: auto;
    }
    .forum{
        height: auto;
        padding-bottom: 8px;
    }
    .topic-message{
        height: auto;
        padding-bottom: 6px;
    }
    .topics{
        background-color: $header-color;
        height: 68px;
        border-bottom: solid 1px black;
        display: flex;
        justify-content: space-between;
        .topics-create-info{
            .topics-name{
                display: inline-block;
                line-height: 24px;
                margin-left: 10px;
                font-weight: bold;
                font-size: 14px;
                color:$yellow;
                text-decoration: none;
                transition: text-shadow .3s;

            }
            p{
                font-size: 12px;
                margin: 4.5px 10px;
                color: rgba(255, 255,255, 75%);
            }
            .topics-name:hover{
                @include stroke($yellow-hover, 2px);
            }
        }
        .topics-last-info{
            display: flex;
            justify-content: space-between;
            .btn {
                margin: 17px 5px;
            }
            .total-posts{
                width: 70px;
                height: 68px;
                font-size: 15px;
                color: white;
                font-weight: bold;
                text-align: center;
                padding: 17px 0;
            }
            .last-post-text{
                display: inline-block;
                font-size: 15px;
                font-weight: bold;
                color: white;  
                margin-right: 25px;
            }
            .last-post{
                display: flex;
                align-items: center;
                margin: 0 24px 0 0;
                p{
                    display: inline-block;
                    font-weight: normal;
                    color: rgba(255, 255,255);
                    font-size: 13px;
                    margin: 0 0 0 5px;
                }
                img {
                    border-radius: 50%;
                 }
            }
        }
    }
    .cards{
        .cards-head{
            height: 42px;
            background-color: $green-color;
            border-radius: 10px 10px 0 0;
            color: white;
            font-size: 19px;
            font-weight: bold;
            padding-top: 8px;
            padding-left: 20px;
        }
        margin-top: 6px;
        border-radius: 10px 10px 0 0;
        background-color: $content-color;
    }
    .last-actu{
        height: 240px;
        .actus{
            position: relative;
            display: flex;
            .actu-items{
                border-right: solid 1px black;
                width: 140px;
                height: 198px;
                padding-top: 13px;
                background-color: $header-color;
                text-align: center;
                .actu-name{
                    display: inline-block;
                    width: 106px;
                    line-height: 23px;
                    font-weight: bold;
                    font-size: 13px;
                    color: white;
                    text-decoration: none;
                    transition: text-shadow .3s;
                }
                .actu-name:hover{
                    @include stroke(black, 2px);
                }
                p{
                    font-weight: normal;
                    color: rgba(255, 255,255, 75%);
                    font-size: 10px;
                    margin: 0;
                }
            } 
            .prev{
                .prev-button{
                    @include icon-loader("../svg/prev.svg", 15px, 15px)
                }
                position: absolute;
                margin: 84px 0;
                padding: 7.5px 0;
                z-index: 2;
                width: 15px;
                height: 30px;
                background-color: rgba(#A8A8A8, 50%) ;
                
            }   
            .next{
                .next-button{
                    @include icon-loader("../svg/next.svg", 15px, 15px)
                }
                position: absolute;
                margin: 84px 0;
                padding: 7.5px 0;
                z-index: 2;
                width: 15px;
                height: 30px;
                background-color: rgba(#A8A8A8, 50%) ;
                right: 0;
                
            }   
            
        }
       
    }
}

.footer{
    position: relative;
    height: 137px;
    width: 100%;
    background-color: $header-color;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    .copyright{
        position: absolute;
        bottom: 6px;
    }
    .copyright::before{
        vertical-align: middle;
        margin-top: -1px;
        @include icon-loader("../svg/copyright.svg", 20px, 20px)

    }
    .discord{
        &:hover{
            opacity: 50%;
        }
        transition:  opacity .3s;
        position: absolute;
        bottom: 6px;
        left: 50%;
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-top: -1px;
        background: url(../svg/discord.svg) center center / contain no-repeat;
    }
    .github{
        &:hover{
            opacity: 50%;
        }
        transition:  opacity .3s;
        position: absolute;
        bottom: 6px;
        left: calc(50% - 34px);
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-top: -1px;
        background: url(../svg/github.svg) center center / contain no-repeat;
    }
    
}

.loading{
    position: relative;
    width: inherit;
    height: inherit;
    margin: auto auto;
    display: flex;
    img{
        display: block;
        width: 200px;
        margin: auto auto;
        animation: rotate 2s infinite;
        
    }
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
}

.errors{
    color: red;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}
@include media();